################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/P2SP/Complents/Properties
/P2SP/Complents/bin/Debug
/P2SP/Complents/obj
/P2SP/Helper/Properties
/P2SP/Helper/bin/Debug
/P2SP/Helper/obj
/P2SP/SendFileService/Properties
/P2SP/SendFileService/bin/Debug
/P2SP/SendFileService/obj
/P2SP/AudioService/Properities
/P2SP/AudioService/bin/Debug
/P2SP/AudioService/obj
/P2SP/Chat/Properties
/P2SP/Chat/bin/Debug
/P2SP/Chat/obj
/P2SP/ChatClientUI/Properties
/P2SP/ChatClientUI/bin/Debug
/P2SP/ChatClientUI/obj
/P2SP/ChatClient/Properties
/P2SP/ChatClient/bin/Debug
/P2SP/ChatClient/obj
/P2SP/ChatServerUI/Properties
/P2SP/ChatServerUI/bin/Debug
/P2SP/ChatServerUI/obj
/P2SP/ChatServer/Properties
/P2SP/ChatServer/bin/Debug
/P2SP/ChatServer/obj
/P2SP/ChatTrans/Properties
/P2SP/ChatTrans/bin/Debug
/P2SP/ChatTrans/obj
/P2SP/DownLoad/Properties
/P2SP/DownLoad/bin/Debug
/P2SP/DownLoad/obj
/P2SP/DownLoadService/Properties
/P2SP/DownLoadService/bin/Debug
/P2SP/DownLoadService/obj
/P2SP/ExtendControl/Properties
/P2SP/ExtendControl/bin/Debug
/P2SP/ExtendControl/obj
/P2SP/JimoDbStudio/Properties
/P2SP/JimoDbStudio/bin/Debug
/P2SP/JimoDbStudio/obj
/P2SP/P2PService/Properties
/P2SP/P2PService/bin/Debug
/P2SP/P2PService/obj
/P2SP/Resources/Properties
/P2SP/Resources/bin/Debug
/P2SP/Resources/obj
/P2SP/Trans/Properties
/P2SP/Trans/bin/Debug
/P2SP/Trans/obj
/P2SP/Weather/Properties
/P2SP/Weather/bin/Debug
/P2SP/Weather/obj
/P2SP/WindowsAnimation/Properties
/P2SP/WindowsAnimation/bin/Debug
/P2SP/WindowsAnimation/obj
/P2SP/.vs/P2SP/v14
